<!DOCTYPE html>
<html lang="en">
    <script src="./scripts/verifyLogin.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Equipment</title>
        <%- include('./head') %>
        <link rel="stylesheet" href="../styles/equipment.css">
    </head>

    <body>
        <%- include('./navbar'); %>
        <div class="mainContent panel">
            <div class="panelBackground">
                <div class="panelHeader">
                    <div class="panelTitle">Devices</div>
                </div>
                <div class="equipmentList" id="equipmentList">
                    <!-- <div class="contentPanel equipmentPanel">
                        <div class="equipmentPanelIcon">
                            <span class="material-symbols-rounded">glass_cup</span>
                        </div>
                        <div class="equipmentPanelContent">
                            <div class="equipmentPanelName">Test Name</div>
                            <div class="equipmentPanelTemperature">
                                <span class="material-symbols-rounded">thermometer</span>
                                <div class="equipmentPanelTemperatureValue">
                                    00ºC / 00ºF
                                </div>
                            </div>
                            <div class="equipmentPanelMotorState">
                                <span class="material-symbols-rounded">sync</span>
                                <div class="equipmentPanelMotorStateValue">
                                    Motor ON
                                </div>
                            </div>
                            <div class="equipmentPanelVolume">
                                <span class="material-symbols-rounded">water_medium</span>
                                <div class="volumeBar">
                                    <div class="volumeBarProgress"></div>
                                </div>
                                <div class="equipmentPanelVolumeValue">
                                    50% (0.15L)
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="" id="btnAddDevice">
                    <div>Add new device</div>
                    <span class="material-symbols-rounded">add</span>
                </div>
            </div>
        </div>
        <div id="equipmentPopup" class="panel">
            <div class="panelBackground">
                <div class="inputRow">
                    <label for="deviceName">Name</label>
                    <input type="text" name="deviceName" id="deviceName" placeholder="Device name">
                </div>
                <div class="inputRow">
                    <label for="deviceMac">Mac Address</label>
                    <input type="text" name="deviceMac" id="deviceMac" placeholder="1A:2B:3C:4D">
                </div>
                <div class="inputRow">
                    <label for="deviceTotalVolume">Total Volume (L)</label>
                    <input type="text" name="deviceTotalVolume" id="deviceTotalVolume" placeholder="0.0">
                </div>
                <div class="btnRow">
                    <div id="btnConfirmAddDevice" class="button">
                        <span class="material-symbols-rounded">add</span>
                        Add new device
                    </div>
                    <div id="btnCancelAddDevice" class="button btnRed">
                        <span class="material-symbols-rounded">backspace</span>
                        Cancel
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./scripts/navbar.js"></script>
    <script src="./scripts/equipment.js"></script>
</html>