<!DOCTYPE html>
<html lang="en">
    <script src="./scripts/verifyLogin.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Equipment</title>
        <%- include('./head') %>
        <link rel="stylesheet" href="../styles/equipment.css">
    </head>

    <body>
        <%- include('./navbar'); %>
        <div class="mainContent panel">
            <div class="panelBackground">

            </div>
        </div>
    </body>
    <script src="./scripts/navbar.js"></script>
    <script src="./scripts/equipment.js"></script>
</html>