<!DOCTYPE html>
<html lang="en">
    <script src="./scripts/verifyLogin.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <%- include('./head') %>
        <link rel="stylesheet" href="../styles/home.css">
    </head>

    <body>
        <%- include('./navbar'); %>
        <div class="mainContent panel">
            <div id="mainContainer" class="panelBackground">
                <div class="contentPanel">
                    <div class="panelHeader">
                        <div class="panelTitle">Team</div>
                    </div>
                    <div class="panelContent">
                        <div class="teamUser">
                            <div class="teamUserImg">
                                <img src="" onerror="this.onerror=null; this.src='../images/person_FILL0_wght400_GRAD0_opsz24.svg'">
                            </div>
                            <div class="teamUserName">Ricardo Jesus</div>
                        </div>
                    </div>
                </div>
                <div class="contentPanel">
                    <div class="panelHeader">
                        <div class="panelTitle">Equipment</div>
                        <div class="button">
                            <span class="material-symbols-rounded">open_in_new</span>
                        </div>
                    </div>
                    <div class="panelContent">
                        
                    </div>
                </div>
                <div class="contentPanel">
                    <div class="panelHeader">
                        <div class="panelTitle">Stats</div>
                        <div class="button">
                            <span class="material-symbols-rounded">open_in_new</span>
                        </div>
                    </div>
                    <div class="panelContent">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./scripts/navbar.js"></script>
    <script src="./scripts/home.js"></script>
</html>