<!DOCTYPE html>
<html lang="en">
<script src="./scripts/verifyLogin.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
    <%- include('./head') %>
        <link rel="stylesheet" href="../styles/lab.css">
</head>

<body>
    <%- include('./navbar'); %>
        <div class="mainContent panel">
            <div id="mainContainer" class="panelBackground">
                <div class="panelHeader">
                    <div class="panelTitle">Team</div>
                </div>
                <div id="labUsers">
                    <!-- <div class="contentPanel labUser">
                        <div>
                            <img src="../images/users/img_RyzenInu.png" alt="">
                        </div>
                        <div>
                            <div>
                                <div>Ricardo Jesus</div>
                                <div>RyzenInu</div>
                            </div>
                            <div>ricardojpj@hotmail.com</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
</body>
<script src="./scripts/navbar.js"></script>
<script src="./scripts/lab.js"></script>

</html>