<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga</title>
    <%- include('./head') %>
        <link rel="stylesheet" href="../styles/manga.css">
</head>

<body>
    <div id="scrollable">
        <div class="section">
            <div id="topBar">
                <div id="btnLabManager">
                    <img src="./images/lab_manager_logo_horizontal_dark.png" alt="Manga's Lab Manager logo">
                    <div id="btnLabManagerIcon">
                        <span class="material-symbols-rounded">open_in_new</span>
                    </div>
                </div>
            </div>
            <div class="sectionContent">
                <p class="paragraph">Manga é uma empresa focada na automação do controlo e monitorização de equipamento laboratorial.</p>
                <div id="imgContainer">
                    <img id="bigLogo" src="./images/logo_vertical.png">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionContent">
                <div class="title">
                    Our Team
                </div>
                <div id="teamContainer">
                    <div class="teamImg">
                        <img src="../images/screaming-bird-meme-transparent.png">
                    </div>
                    <div class="teamImg">
                        <img src="../images/denis_temp.png">
                    </div>
                    <div class="teamImg">
                        <img src="../images/tomas_temp.png">
                    </div>
                    <div class="teamDesc">
                        <div class="teamDescTitle">Ricardo Jesus</div>
                        <div class="teamDescRole">Lead Software Developer</div>
                    </div>
                    <div class="teamDesc">
                        <div class="teamDescTitle">Denis Afanasii</div>
                        <div class="teamDescRole">Hardware Manager</div>
                    </div>
                    <div class="teamDesc">
                        <div class="teamDescTitle">Tomás Vilas</div>
                        <div class="teamDescRole">Onsite Hardware Installer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">

        </div>
        <div id="prevSectionIndicator">
            <span class="material-symbols-rounded">
                keyboard_arrow_up
            </span>
        </div>
        <div id="nextSectionIndicator">
            <span class="material-symbols-rounded">
                keyboard_arrow_down
            </span>
        </div>
    </div>
    <script src="./scripts/manga.js"></script>
</body>

</html>