<div class="navbar-container panel">
    <div class="navbar-background panelBackground">
        <img id="mangaLogo" src="./images/lab_manager_logo_horizontal.png" onclick="location.href='/manga';">
        <div style="background-color: white; height: 1.75em; width: 3px; border-radius: 3px;"></div>
        <div class="navbar-button" onclick="location.href='/home';">
            <span class="material-symbols-rounded">
                cottage
            </span>
            Home
        </div>
        <div class="navbar-button" onclick="location.href='/equipment';">
            <span class="material-symbols-rounded">
                science
            </span>
            Equipment
        </div>
        <div class="navbar-button" onclick="location.href='/stats';">
            <span class="material-symbols-rounded">
                show_chart
            </span>
            Statistics
        </div>
        <div class="navbar-user" id="navbar-user">
            <p id="profileBtnName"></p>
            <div class="user-img">
                <img id="profileBtnImg" src=""
                    onerror="this.onerror=null; this.src='../images/person_FILL0_wght400_GRAD0_opsz24.svg'">
            </div>
        </div>
    </div>
</div>
<div id="userPopup" class="panel">
    <div class="panelBackground">
        <div id="userPopupContent">
            <div id="userPopupImgContainer">
                <img id="userPopupImg" src=""
                    onerror="this.onerror=null; this.src='../images/person_FILL0_wght400_GRAD0_opsz24.svg'">
            </div>
            <div id="userPopupInfoContainer">
                <div id="userInfoName">
                    <p id="userPopupName">Firstname Lastname</p>
                    <p id="userPopupUsername">Username</p>
                </div>
                <div class="userInfoRow">
                    <span class="material-symbols-rounded">email</span>
                    <p id="userPopupEmail">example@test.com</p>
                </div>
                <div class="userInfoRow">
                    <span class="material-symbols-rounded">science</span>
                    <p id="userPopupLab">Lab</p>
                </div>
                <div id="userInfoButtons">
                    <div class="button" id="btnEditProfile">
                        <span class="material-symbols-rounded">edit_square</span>
                        Edit Profile
                    </div>
                    <div class="button" id="btnLogout">
                        <span class="material-symbols-rounded">logout</span>
                        Logout
                    </div>
                </div>
            </div>
        </div>
        <div id="userPopupCloseBtn">
            <span class="material-symbols-rounded">
                cancel
            </span>
        </div>
    </div>
</div>
<div id="blurBg">

</div>