<div class="navbar-container">
    <div class="navbar-background">
        <img src="./images/logoH.png">
        <div class="navbar-button">
            <span class="material-symbols-rounded">
                cottage
            </span>
            Home
        </div>
        <div class="navbar-button">
            <span class="material-symbols-rounded">
                science
            </span>
            Equipment
        </div>
        <div class="navbar-button">
            <span class="material-symbols-rounded">
                show_chart
            </span>
            Statistics
        </div>
        <div class="spacerH"></div>
        <div class="navbar-user">
            <p>Username</p>
            <div class="user-img">
                <img src="./images/amogus-gif.gif" alt="">
            </div>
        </div>
    </div>
</div>