<div class="navbar-container">
    <div class="navbar-background">
        <img src="./images/logoH.png">
        <div class="navbar-button">
            <span class="">H</span>
            Home
        </div>
        <div class="navbar-button">
            Home
        </div>
        <div class="navbar-button">
            Home
        </div>
    </div>
</div>