<div class="navbar-container panel">
    <div class="navbar-background panelBackground">
        <img id="mangaLogo" src="./images/labManagerLogoH.png" onclick="location.href='/manga';">
        <div style="background-color: white; height: 1.75em; width: 3px; border-radius: 3px;"></div>
        <div class="navbar-button" onclick="location.href='/home';">
            <span class="material-symbols-rounded">
                cottage
            </span>
            Home
        </div>
        <div class="navbar-button" onclick="location.href='/equipment';">
            <span class="material-symbols-rounded">
                science
            </span>
            Equipment
        </div>
        <div class="navbar-button" onclick="location.href='/stats';">
            <span class="material-symbols-rounded">
                show_chart
            </span>
            Statistics
        </div>
        <div class="navbar-user" id="navbar-user">
            <p>Username</p>
            <div class="user-img">
                <img src="./images/amogus-gif.gif" alt="">
            </div>
        </div>
    </div>
</div>
<div id="userPopup" class="panel">
    <div class="panelBackground">
        <div class="panelHeader">
            <p class="panelTitle">test</p>
            <span id="userPopupCloseBtn" class="material-symbols-rounded">
                cancel
            </span>
        </div>
        <!--<div class="panelH-line"></div>-->
    </div>
</div>
<div id="blurBg">

</div>