<!DOCTYPE html>
<html lang="en">
<script src="./scripts/verifyLogin.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="../styles/stats.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/simple-statistics@7.8.3/dist/simple-statistics.min.js"></script> 
    <%- include('./head') %>
</head>

<body>
    <%- include('./navbar'); %>
        <div class="mainContent panel">
            <div class="panelBackground">
                <div class="panelHeader">
                    <div class="panelTitle">Statistics</div>
                    <div class="panelActions">
                        <div class="dropdownMenu" id="deviceDropdown">
                            <div class="dropdownMenuSelected">
                                <div class="dropdownMenuSelectedOption">Select Device</div>
                                <span class="material-symbols-rounded">keyboard_arrow_down</span>
                            </div>
                            <div class="dropdownOptionList">
                                <!-- <div class="dropdownOption">Water Cup</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="splitVertical">
                    <div class="contentPanel statsPanel">
                        <div class="statsPanelHeader">
                            <div class="statsHeaderTitle">Temperature</div>
                        </div>
                        <div class="statsChartDiv">
                            <canvas id="statsTempChart"></canvas>
                        </div>
                        <div class="statsPanelContent">
                            <div>A temperatura média é <p class="deviceStatsTemp">_</p>ºC</div>
                            <div>A temperatura máxima foi <p class="deviceStatsTemp">_</p>ºC</div>
                            <div>A temperatura mínima foi <p class="deviceStatsTemp">_</p>ºC</div>
                            <div>75% das medidas estão abaixo de <p class="deviceStatsTemp">_</p>ºC</div>
                            <div>25% das medidas estão abaixo de <p class="deviceStatsTemp">_</p>ºC</div>
                        </div>
                    </div>
                    <div class="contentPanel statsPanel">
                        <div class="statsPanelHeader">
                            <div class="statsHeaderTitle">Volume</div>
                        </div>
                        <div class="statsChartDiv">
                            <canvas id="statsVolChart"></canvas>
                        </div>
                        <div class="statsPanelContent">
                            <div>O volume médio é <p class="deviceStatsVol">_</p>L</div>
                            <div>O volume máximo foi <p class="deviceStatsVol">_</p>L</div>
                            <div>O volume mínimo foi <p class="deviceStatsVol">_</p>L</div>
                            <div>75% das medidas estão abaixo de <p class="deviceStatsVol">_</p>L</div>
                            <div>25% das medidas estão abaixo de <p class="deviceStatsVol">_</p>L</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="./scripts/navbar.js"></script>
<script src="./scripts/stats.js"></script>
<script type="module" src="./scripts/statsCharts.js"></script>

</html>