@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
}

:root {
    --color-manga-redish: #FF4900;
    --color-manga-orangy: #FFAF00;
    --color-manga-green: #ABC600;
    --color-primary: #fff;
    --color-bg-main: #000;
    --color-bg-panel: #161616;
}

* {
    box-sizing: border-box !important;
    color: var(--color-primary);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    transition: all .2s ease;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--color-bg-main);
    background-color: var(--color-bg-main);
}


body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.panel {
    border-radius: 20px;
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.35), var(--color-bg-panel) 20%, var(--color-bg-panel) 80%, rgba(255, 255, 255, 0.35));
    padding: 2px;
}

.panel>.panelBackground {
    padding: 1em;
    background-color: var(--color-bg-panel);
    border-radius: 18px;
    height: 100%;
    width: 100%;
}

.panelHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panelTitle{
    font-size: 18pt;
    margin: 0;
}

.panelH-line{
    width: 100%;
    max-width: 100%;
    min-height: 4px;
    height: 4px;
    max-height: 4px;
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 99px;
}

.o0 {
    opacity: 0;
}

.navbar-container {
    width: 100%;
    height: auto;
}

.navbar-container>.navbar-background {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    gap: 1em;
    
    justify-content: left;
    align-items: center;
    
    overflow-x: scroll;
    flex-wrap: wrap;
}

#mangaLogo{
    cursor: pointer;
    user-select: none;
}

.navbar-container>.navbar-background>.navbar-button {
    height: 2.5em;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    padding: 0 1em;
    gap: .5em;
    
    background: transparent;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    
    cursor: pointer;
    user-select: none;
}

.navbar-button.active{
    background-color: transparent !important;
    background: linear-gradient(180deg, rgba(255, 73, 0, 0.10) 0%, rgba(255, 73, 0, 0.5) 100%) !important;
}

.navbar-button:hover, .navbar-user:hover, #mangaLogo:hover{
    color: var(--color-manga-redish) !important;
    scale: 1.05;
}

.navbar-button:hover *, .navbar-user:hover *{
    color: var(--color-manga-redish) !important;
}

.navbar-container>.navbar-background>img {
    max-height: 2.5em;
}

.navbar-container>.navbar-background>.navbar-user {
    height: 100%;
    height: 2.5em;
    min-width: fit-content;
    padding: 0 0 0 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
    gap: 1em;
    
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    
    margin-left: auto;
}

.navbar-container>.navbar-background>.navbar-user>.user-img {
    height: 2.5em;
    max-height: 2.5em;
    width: 2.5em;
    max-width: 2.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar-container>.navbar-background>.navbar-user>.user-img>img {
    height: 100%;
    width: auto;
}

.popupActive {
    visibility: visible !important;
    opacity: 1 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    max-height: 100% !important;
    max-width: 80% !important;
}

#userPopup {
    visibility: collapse;
    position: absolute !important;
    opacity: 0;
    position: relative;
    max-height: 0%;
    max-width: 0%;
    width: 80%;
    z-index: 1;
}

#userPopupCloseBtn {
    width: 24px;
    height: 24px;
    margin-left: auto;
    align-self: self-start;
}

#userPopupCloseBtn:hover {
    transform: rotate(180deg);
    cursor: pointer;
    user-select: none;
    color: var(--color-manga-redish)
}

#blurBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 0;
    visibility: collapse;
    opacity: 0;

    background-color: rgba(0,0,0,0.5);
}

#blurBg.active{
    visibility: visible;
    opacity: 1;
}

.mainContent{
    height: 100%;
}