@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
}

:root {
    --color-manga-redish: #FF4900;
    --color-manga-redish50: #FF490080;
    --color-manga-orangy: #FFAF00;
    --color-manga-orangy50: #FFAF0080;
    --color-manga-green: #ABC600;
    --color-manga-green50: #ABC60050;

    --color-primary: #fff;
    --color-primary-50: rgba(255, 255, 255, 0.5);

    --color-bg-main: #000;
    --color-bg-panel: #161616;

    --color-elem-over: rgba(255, 255, 255, 0.15);

    --gradient-manga: linear-gradient(45deg, var(--color-manga-redish), var(--color-manga-orangy), var(--color-manga-green));
    --gradient-submit-button: linear-gradient(180deg, rgba(255, 73, 0, 0.20) 0%, #FF4900 100%);
}

* {
    box-sizing: border-box !important;
    color: var(--color-primary);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    transition: all .15s ease-in-out;
}

*::selection {
    background-color: var(--color-manga-redish);
    color: white;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #000;
    background-color: var(--color-bg-main);
}


body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    overflow-x: hidden;
}

.panel {
    border-radius: 20px;
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.35), var(--color-bg-panel) 20%, var(--color-bg-panel) 80%, rgba(255, 255, 255, 0.35));
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel>.panelBackground {
    padding: 1em;
    background-color: var(--color-bg-panel);
    border-radius: 18px;
    height: 100%;
    width: 100%;
}

.panelHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panelTitle {
    font-size: 18pt;
    margin: 0;
}

.panelH-line {
    width: 100%;
    max-width: 100%;
    min-height: 4px;
    height: 4px;
    max-height: 4px;
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 99px;
}

.o0 {
    opacity: 0;
}

.navbar-container {
    width: 100%;
    height: auto;
}

.navbar-container>.navbar-background {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1em;

    justify-content: left;
    align-items: center;

    flex-wrap: wrap;
}

#mangaLogo {
    cursor: pointer;
    user-select: none;
}

.navbar-button {
    height: 2.5em;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 0 1em;
    gap: .5em;

    background-color: var(--color-elem-over);
    border-radius: 10px;

    cursor: pointer;
    user-select: none;
}

.navbar-button.active {
    background-color: transparent !important;
    background: linear-gradient(180deg, rgba(255, 73, 0, 0.10) 0%, rgba(255, 73, 0, 0.5) 100%) !important;
}

.navbar-button:hover,
.navbar-user:hover,
#mangaLogo:hover {
    color: var(--color-manga-redish) !important;
    scale: 1.05;
}

.navbar-button:hover *,
.navbar-user:hover * {
    color: var(--color-manga-redish) !important;
}

.navbar-container>.navbar-background>img {
    max-height: 2.5em;
}

.navbar-container>.navbar-background>.navbar-user {
    height: 100%;
    height: 2.5em;
    min-width: fit-content;
    padding: 0 0 0 1em;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    gap: 1em;

    background-color: var(--color-elem-over);
    border-radius: 10px;

    cursor: pointer;
    user-select: none;
    overflow: hidden;

    margin-left: auto;
}

.navbar-container>.navbar-background>.navbar-user>.user-img {
    height: 2.5em;
    max-height: 2.5em;
    width: 2.5em;
    max-width: 2.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: var(--color-elem-over);
}

.navbar-container>.navbar-background>.navbar-user>.user-img>img {
    height: 100%;
    width: auto;
}


#userPopup {
    visibility: collapse;
    position: absolute !important;
    opacity: 0;
    position: relative;
    max-height: 0%;
    max-width: 0%;
    z-index: 1;
    transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.popupActive {
    visibility: visible !important;
    opacity: 1 !important;
    top: 50% !important;
    left: 50% !important;
    max-height: 100% !important;
    max-width: 80% !important;
}

#userPopup>.panelBackground {
    display: flex;
    flex-direction: row;
    gap: 1em;
}


#userPopupCloseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: self-start;
    user-select: none;
}

#userPopupCloseBtn>span {
    width: 24px;
    height: 24px;
    transform-origin: center;
}

#userPopupCloseBtn:hover>span {
    transform: rotate(180deg);
    cursor: pointer;
    color: var(--color-manga-redish);
}

#userPopupContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.userInfoRow {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

#userInfoButtons {
    display: flex;
    flex-direction: row;
    gap: .5em;
    flex: 1;
    min-width: fit-content;
    align-items: flex-end;
}

#userInfoButtons .button {
    flex: 1;
    white-space: nowrap;
}

#btnLogout{
    background-color: rgba(255,0,0,0.2);
    color: #F00;
}

#btnLogout *{
    color: #F00;
}

#btnLogout:hover{
    color: var(--color-primary) !important;
}

#btnLogout:hover *{
    color: var(--color-primary) !important;
}

.button {
    height: 2em;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 0 .5em;
    gap: .5em;

    background-color: var(--color-elem-over);
    border-radius: 10px;

    cursor: pointer;
    user-select: none;
}

.button:hover {
    color: var(--color-manga-redish) !important;
    scale: 1.05;
    cursor: pointer;
}

.button:hover * {
    color: var(--color-manga-redish) !important;
}

.button span {
    font-size: 14pt;
}

#userPopupImgContainer {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    min-height: 2em;
    height: 10em;
    min-width: 0;
    border-radius: 16px;
    background-color: var(--color-elem-over);
    display: grid;
    justify-items: center;
    align-items: center;
}

#userPopupImgContainer img {
    min-width: 0;
    height: 100%;
    max-height: 10em;
    border-radius: 9999px;
}

#userPopupInfoContainer {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#userPopupInfoContainer p {
    margin: 0;
    display: inline-block;
    line-height: 100%;
}

#userInfoName {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#userPopupName {
    font-size: 20pt;
}

#userPopupUsername {
    color: var(--color-primary-50);
    font-weight: 400;
    font-size: 14pt;
}


#blurBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 0;
    visibility: collapse;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

#blurBg.active {
    visibility: visible;
    opacity: 1;
}

.mainContent {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #userPopupContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #userPopupInfoContainer {
        width: 100%;
    }

    #userPopupCloseBtn {
        position: absolute;
    }

    .popupActive {
        max-width: 90% !important;
        width: 90%;
    }
}