* {
    color: black;
    user-select: none;
}

body,
html {
    background-color: white;
    background: white;
    margin: 0;
    padding: 0;
    gap: 0;
}

body>div::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari and Opera */
}

body>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    scroll-behavior: smooth;

    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

body>div>.section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    min-height: 100%;
}

.section:nth-child(1),
.section:nth-child(3) {
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 10em 20%;
}

.section:nth-child(1)>img {
    max-height: 100%;
    max-width: 100%;
}

.section:nth-child(1)>p {
    min-height: 100%;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

#nextSectionIndicator,
#prevSectionIndicator {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    user-select: none;
    mix-blend-mode: difference;
    font-size: 12pt;
    z-index: 1;
}

#nextSectionIndicator {
    bottom: 1em;
}

#prevSectionIndicator {
    top: 1em;
    opacity: 0;
    visibility: collapse;
}

#nextSectionIndicator span,
#prevSectionIndicator span {
    color: black;
    mix-blend-mode: difference;
    font-size: 24pt;
    background-color: white;
    width: 24pt;
    height: 24pt;
    border-radius: 999px;
    transition: all 0.05s ease-in;
}

#nextSectionIndicator:hover,
#prevSectionIndicator:hover {
    scale: 1.2;
    cursor: pointer;
}

#nextSectionIndicator:active,
#prevSectionIndicator:active {
    scale: 1.3;
    transition: all 0.05s ease-in;
}

#topbar{
    position: sticky;
}

@media only screen and (max-width: 600px) {
    .section:nth-child(1) {
        flex-direction: column;
        padding: 2em;
    }
    
    .section:nth-child(1)>p{
        min-height: fit-content;
    }


    .section:nth-child(1)>img {
        max-height: 20%;
        content: url("../images/logoH.png");
    }
}