* {
    color: black;
    user-select: none;
}

body,
html {
    background-color: white;
    background: white;
    margin: 0;
    padding: 0;
    gap: 0;
}

body>div::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari and Opera */
}

body>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    scroll-behavior: smooth;

    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

body>div>.section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    min-height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section:nth-child(odd) {
    background: black;
}

#bigLogo {
    max-height: 100%;
    max-width: 100%;
}

.section:nth-child(1) .paragraph {
    color: white;
    text-align: justify;
    text-justify: inter-word;
    flex: 2;
    margin: 0;
}

.section:nth-child(1) #imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sectionContent {
    display: flex;
    flex-direction: row;
    padding: 5em 5em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 1;
    min-height: 0;
}

#nextSectionIndicator,
#prevSectionIndicator {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    user-select: none;
    mix-blend-mode: difference;
    font-size: 12pt;
    z-index: 1;
}

#nextSectionIndicator {
    bottom: 1em;
}

#prevSectionIndicator {
    top: 1em;
    opacity: 0;
    visibility: collapse;
}

#nextSectionIndicator span,
#prevSectionIndicator span {
    color: black;
    mix-blend-mode: difference;
    font-size: 24pt;
    background-color: white;
    width: 24pt;
    height: 24pt;
    border-radius: 999px;
    transition: all 0.05s ease-in;
}

#nextSectionIndicator:hover,
#prevSectionIndicator:hover {
    scale: 1.2;
    cursor: pointer;
}

#nextSectionIndicator:active,
#prevSectionIndicator:active {
    scale: 1.3;
    transition: all 0.05s ease-in;
}

#topBar {
    width: 100%;
    height: 4em;
    padding: .5em;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 1;
    z-index: 1;
}

#btnLabManager {
    height: 100%;
    width: min-content;
    padding: .5em;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

#btnLabManager:hover {
    scale: 1.05;
}

#topBar>#btnLabManager>img {
    height: 100%;
}

#topBar {}

@media only screen and (max-width: 600px) {
    .section:nth-child(1) .sectionContent {
        flex-direction: column;
        max-height: 100%;
        padding: 1em;
    }

    .section:nth-child(1) .sectionContent #imgContainer {
        max-height: 6em;
    }

    .section:nth-child(1)>img {
        max-height: 20%;
        content: url("../images/logoH.png");
    }
}