.panelBackground {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.splitVertical {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex: 1;
    min-height: 0;
}

.statsPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.statsPanel div{
    width: 100%;
}

.statsPanelHeader{
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.statsHeaderTitle{
    font-size: 14pt;
}

.statsChartDiv{
    flex: 1;
    min-height: 300px;
    height: 350px;
    max-height: 450px;
    
    background-color: var(--color-bg-panel);
    border-radius: 16px;
    padding: 1em;
}

.statsChartDiv canvas{
   
}

.panelBackground{
    overflow-y: auto !important;
    
    /* Scrollbar Styling */
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-manga-redish) transparent;
}

.statsPanelContent{
    display: flex;
    flex-direction: column;
}

.deviceStatsVol, .deviceStatsTemp{
    display: inline-block;
    margin: 0;
    color: var(--color-manga-redish)
}

@media only screen and (max-width: 600px) {
    .splitVertical{
        flex-direction: column;
        min-height: fit-content;
    }
}